.chart-container {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,.12);
  margin-bottom: 30px;
  margin-left: 30px;

  &.is-small {
    height: 140px;
  }

  &.is-large {
    height: 300px;
  }
}

.container-title {
  color: rgba($bluegrey-900, .7);
  float: left;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 20px;
  margin-top: 28px;
  text-transform: uppercase;
}

#test-intervals {
  background-color: red;
  display: block;
}