.chart-container {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,.12);
  margin-bottom: 30px;
  margin-left: 30px;

  &.is-small {
    height: 140px;
  }

  &.is-large {
    height: 300px;
  }
}

.time-intervals {
  background-color: $bluegrey-50;
  border-top: 1px solid $bluegrey-50;
  border-right: 1px solid $bluegrey-50;
  border-bottom: 1px solid $bluegrey-50;
  border-left: 0;
  border-radius: 2px;
  float: right;
  margin-right: 20px;
  margin-top: 20px;

  li {
    background-color: $white;
    color: $bluegrey-200;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: $font-primary;
    font-size: 12px;
    font-weight: 300;
    line-height: 26px;
    margin-left: 1px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    width: 80px;
    // border-radius: 3px;
    // border-left: 1px solid $bluegrey-100;

    &:hover {
      background-color: $bluegrey-50;
    }

    &.selected {
      background-color: $bluegrey-50;
    }

    a {

      &:hover {
        background-color: rgba($teal-300, .2);
        color: $teal-300;
      }
    }
  }
}

.container-title {
  float: left;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 20px;
  margin-top: 20px;
  text-transform: uppercase;
}