.content-container {
  left: 200px;
  top: 58px;
  right: 0;
  position: absolute;
}

.box-container {
  background-color: $white;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,.12);
}

.dashboard-canvas {
  background-color: $bluegrey-50;
  left: 0;
  right: 0;
  position: absolute;
}

.dashboard-content-container {
  margin-left: 260px;
  padding: 30px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.logo {
  background-color: #192226;
  border-bottom: 2px solid rgba($bluegrey-900, .12);
  height: 56px;
  margin: 0;
  padding-left: 33px;

  a {
    color: $salmon;
    font-family: $font-primary;
    font-size: 24px;
    font-weight: 600;
    line-height: 60px;
    text-decoration: none;
  }
}

.page-title {
  color: rgba($bluegrey-900, .7);
  float: left;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 300;
  line-height: 58px;
  margin-left: 15px;
  text-transform: uppercase;
}

.top-bar {
  background-color: rgba($white, 1);
  box-shadow: 0 0 4px rgba(0,0,0,0.12), 0 4px 8px rgba(0,0,0,0.12);
  height: 58px;
  top: 0;
  left: 200px;
  right: 0;
  position: fixed;
  z-index: 100;
}