.container-fluid {
  height: 100%;
}

.content-container {
	background-color: $bluegrey-50;
  padding-left: 0;
  padding-right: 0;
}

.dashboard-content-container {
  margin: 73px 15px 30px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.logo {
  background-color: #192226;
  border-bottom: 2px solid rgba($bluegrey-900, .12);
  height: 60px;
  margin: 0;
  padding-left: 33px;

  a {
    color: $salmon;
    font-family: $font-primary;
    font-size: 24px;
    font-weight: 600;
    line-height: 60px;
  }
}

.page-title {
  color: rgba($bluegrey-900, .7);
  float: left;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 300;
  line-height: 58px;
  margin-left: 15px;
  text-transform: uppercase;
}

.top-bar {
  background-color: rgba($white, 1);
  // border-bottom: 1px solid rgba($black, .1);
  box-shadow: 0 0 4px rgba(0,0,0,0.12),
              0 4px 8px rgba(0,0,0,0.12);
  height: 58px;
  // margin-left: 2px;
  position: fixed;
  z-index: 100;
}