/* NAVIGATION
============================================================== */

/* Hide for mobile, show later */
.sidebar {
  // border-right: 2px solid rgba($bluegrey-900, .12);
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    background-color: $bluegrey-900;
    // border-right: 1px solid #eee;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    padding: 0;
    position: fixed;
    top: 0;
    width: 200px;
    z-index: 1000;
  }
}

.nav > li > a {

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  // margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li {
  padding: 0 0 0 20px;
}

.nav-sidebar > li > a {
  border-left: 4px solid transparent;
  color: rgba($white, .3);
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 60px;
  padding: 0 30px;
  transition: all .3s;

    i {
      width: 35px;
    }

  &:hover {
    color: $white;
    background: none;
  }

  &.active {
    background-color: none;
    border-left: 4px solid $salmon;
    color: $white;

    i {
      color: $salmon;
    }
  }
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:focus {
  color: $white;
  // background-color: rgba($salmon, .2);
  border-left: 4px solid $salmon;

  i {
    color: $salmon;
  }
}

.navbar-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 58px;
  margin: 0;
  padding-left: 0;
  width: 300px;

  input {
    font-family: FontAwesome;
  }

  input[type="text"]::-webkit-input-placeholder {
    color: rgba($bluegrey-900, .12);
    font-family: $font-primary, FontAwesome;
    font-weight: 400;
    transition: all .3s;
  }

  // input[type="text"]:hover::-webkit-input-placeholder {
  //   color: rgba($black, .3);
  // }

  // input[type="text"]:focus::-webkit-input-placeholder {
  //   color: rgba($black, .3);
  // }

  .form-control {
    background: rgba($white, 0);
    border: 1px solid rgba($bluegrey-900, .12);
    border-radius: 3px;
    box-shadow: none;
    color: rgba($black, .8);
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 300;
    height: 34px;
    padding-left: 15px;
    transition: all .5s;
    width: 100%;

    &:hover,
    &:focus {
      background-color: rgba($black, .01);
      box-shadow: inset 0 1px 4px rgba(0,0,0,0.12);
      // background: rgba($salmon, .04);
      // border: 1px solid rgba($salmon, .6);
      // box-shadow: inset 0 1px 2px rgba($bluegrey-900, .24);
    }
  }
}

.log-out {

  a {
    background-color: rgba($bluegrey-900, .05);
    border-left: 3px solid transparent;
    bottom: 0;
    color: rgba($bluegrey-900, .3);
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    // line-height: 60px;
    padding: 0 30px;
    position: absolute;
    text-decoration: none;
    transition: all .3s;
    width: 100%;

    i {
      width: 35px;
    }

    &:hover {
      color: $teal-300;
    }
  }
}

.btn-default {
  border: 1px solid $bluegrey-50;
  border-radius: 2px;
  // box-shadow: 0 1px 4px rgba($black, .2);
  width: 160px;
}

.btn-group {
  float: right;
  margin-right: 20px;
  margin-top: 28px;
}

.visible {
  display: block;
}

.time-intervals {
  // background-color: $bluegrey-50;
  // border-top: 1px solid $bluegrey-50;
  // border-right: 1px solid $bluegrey-50;
  // border-bottom: 1px solid $bluegrey-50;
  border-left: 0;
  border-radius: 2px;
  display: none;
  // float: right;

  li {
    background-color: $white;
    color: $bluegrey-100;
    cursor: pointer;
    font-family: $font-primary;
    font-size: 12px;
    font-weight: 300;
    line-height: 26px;
    margin: 0 10px;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    // width: 80px;
    // border-radius: 3px;
    // border-left: 1px solid $bluegrey-100;

    &:hover {
      // background-color: $bluegrey-50;
      // border-bottom: 3px solid rgba($bluegrey-900, .3);
      color: rgba($bluegrey-900, .3);
    }

    &.active {
      // background-color: $bluegrey-50;
      border-bottom: 3px solid $salmon;
      color: rgba($bluegrey-900, .7);
    }

    a {

      &:hover {
        background-color: rgba($teal-300, .2);
        color: $teal-300;
      }
    }
  }
}