.stocks-canvas {
  padding: 30px;

  h3 {
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 30px;
  }
}

.stocks-list {

  li {
    float: left;
    height: 100px;
    margin: 0 15px 15px 0;
    width: 220px;
  }

  button {
    background-color: $white;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
    height: 100%;
    padding: 5px 20px;
    text-align: left;
    width: 100%;
  }

  .stock-code {
    color: rgba($black, .8);
    display: block;
    font-family: $font-primary;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 2px;
  }

  .stock-name {
    color: rgba($black, .4);
    display: block;
    font-family: $font-primary;
    font-size: 12px;
    font-weight: 300;
  }
}

