.stocks-container {
  padding: 30px;

  h3 {
    font-family: $font-primary;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 30px;
  }
}

.stocks-tabs {
  height: 60px;
}

.stocks-list {
  border-top: 1px solid rgba($black,.05);
  float: left;
  width: 100%;

  li {
    float: left;
    margin: 8px;
  }

  button {
    background-color: $white;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba($black, .12);
    height: 80px;
    outline: none;
    padding: 16px;
    text-align: left;
    transition: all .3s;
    width: 260px;

    &:hover {
      box-shadow: 0 4px 8px rgba($black, .24);
      cursor: pointer;
    }
  }

  .stock-code {
    color: rgba($black, .8);
    display: block;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 2px;
  }

  .stock-name {
    color: rgba($black, .4);
    display: block;
    font-family: $font-primary;
    font-size: 11px;
    font-weight: 300;
    height: 16px;
    overflow-y: hidden;
  }
}

