html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Hide for mobile, show later */
.sidebar {
  display: none; }

@media (min-width: 768px) {
  .sidebar {
    background-color: #263238;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1000; } }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent; }

/* Sidebar navigation */
.nav-sidebar {
  margin-bottom: 20px;
  margin-left: -20px; }

.nav-sidebar > li {
  padding: 0 0 0 20px; }

.nav-sidebar > li > a {
  border-left: 4px solid transparent;
  color: rgba(255, 255, 255, 0.3);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 60px;
  padding: 0 30px;
  transition: all .3s; }
  .nav-sidebar > li > a i {
    width: 35px; }
  .nav-sidebar > li > a:hover {
    color: rgba(255, 255, 255, 0.6);
    background: none;
    border-left: 4px solid rgba(255, 255, 255, 0.3); }
  .nav-sidebar > li > a.active {
    background-color: none;
    border-left: 4px solid #FA8072;
    color: #FFFFFF; }
    .nav-sidebar > li > a.active i {
      color: #FA8072; }

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:focus {
  color: #FFFFFF;
  border-left: 4px solid #FA8072; }
  .nav-sidebar > .active > a i,
  .nav-sidebar > .active > a:focus i {
    color: #FA8072; }

.navbar-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 58px;
  margin: 0;
  padding-left: 0;
  width: 300px; }
  .navbar-form input {
    font-family: FontAwesome; }
  .navbar-form input[type="text"]::-webkit-input-placeholder {
    color: rgba(38, 50, 56, 0.12);
    font-family: "Montserrat", sans-serif, FontAwesome;
    font-weight: 400;
    transition: all .3s; }
  .navbar-form .form-control {
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(38, 50, 56, 0.12);
    border-radius: 100px;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 34px;
    padding-left: 15px;
    transition: all .5s;
    width: 100%; }
    .navbar-form .form-control:hover, .navbar-form .form-control:focus {
      background: rgba(250, 128, 114, 0.04);
      border: 1px solid rgba(250, 128, 114, 0.6); }

.log-out a {
  background-color: rgba(38, 50, 56, 0.05);
  border-left: 3px solid transparent;
  bottom: 0;
  color: rgba(38, 50, 56, 0.3);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0 30px;
  position: absolute;
  text-decoration: none;
  transition: all .3s;
  width: 100%; }
  .log-out a i {
    width: 35px; }
  .log-out a:hover {
    color: #4DB6AC; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.container-fluid {
  height: 100%; }

.content-container {
  background-color: #ECEFF1;
  padding-left: 0;
  padding-right: 0; }

.dashboard-content-container {
  margin-top: 92px; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.logo {
  background-color: #192226;
  border-bottom: 2px solid rgba(38, 50, 56, 0.12);
  height: 60px;
  margin: 0;
  padding-left: 33px; }
  .logo a {
    color: #FA8072;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 60px; }

.page-title {
  color: rgba(38, 50, 56, 0.7);
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 58px;
  margin-left: 15px;
  text-transform: uppercase; }

.top-bar {
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.12);
  height: 58px;
  position: fixed;
  z-index: 100; }

.chart-container {
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  margin-bottom: 30px;
  margin-left: 30px; }
  .chart-container.is-small {
    height: 140px; }
  .chart-container.is-large {
    height: 300px; }

.time-intervals {
  background-color: #ECEFF1;
  border-top: 1px solid #ECEFF1;
  border-right: 1px solid #ECEFF1;
  border-bottom: 1px solid #ECEFF1;
  border-left: 0;
  border-radius: 2px;
  float: right;
  margin-right: 20px;
  margin-top: 28px; }
  .time-intervals li {
    background-color: #FFFFFF;
    color: #CFD8DC;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 26px;
    margin-left: 1px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    width: 80px; }
    .time-intervals li:hover {
      background-color: #ECEFF1;
      color: rgba(38, 50, 56, 0.3); }
    .time-intervals li.active {
      background-color: #ECEFF1;
      color: rgba(38, 50, 56, 0.7); }
    .time-intervals li a:hover {
      background-color: rgba(77, 182, 172, 0.2);
      color: #4DB6AC; }

.container-title {
  color: rgba(38, 50, 56, 0.7);
  float: left;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 20px;
  margin-top: 28px;
  text-transform: uppercase; }
