html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Hide for mobile, show later */
.sidebar {
  display: none; }

@media (min-width: 768px) {
  .sidebar {
    background-color: #263238;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1000; } }

/* Sidebar navigation */
.nav-sidebar {
  margin-bottom: 20px;
  margin-left: -20px; }

.nav-sidebar > li {
  padding: 0 0 0 20px; }

.nav-sidebar > li > a {
  color: rgba(255, 255, 255, 0.3);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 60px;
  padding: 0 30px; }
  .nav-sidebar > li > a i {
    padding-right: 10px; }
  .nav-sidebar > li > a:hover {
    background-color: #37474F; }

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:focus {
  color: rgba(255, 255, 255, 0.8);
  background-color: #4DB6AC; }

.navbar-form {
  height: 60px;
  margin: 0;
  padding: 12px 15px 12px 30px;
  width: 300px; }
  .navbar-form input[type="placeholder"] {
    color: rgba(77, 182, 172, 0.4); }
  .navbar-form .form-control {
    background: white;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Montserrat", sans-serif;
    height: 36px;
    transition: all .3s;
    width: 100%; }
    .navbar-form .form-control:hover, .navbar-form .form-control:focus {
      background: #FFFFFF; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.container-fluid {
  height: 100%; }

.content-container {
  background-color: #ECEFF1;
  padding-left: 0;
  padding-right: 0; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.logo {
  height: 60px;
  margin: 0;
  padding-left: 30px; }
  .logo a {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 60px; }

.page-title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  margin: 60px 30px 15px 30px; }

.top-bar {
  background-color: rgba(120, 144, 156, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 100; }

.chart-container {
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  margin-bottom: 30px;
  margin-left: 30px; }
