/* BASE */
/* RESET
============================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
** FONTS
**
*/
/*
** BLACK & WHITE
**
*/
/*
** RED
**
*/
/*
** BLUE
**
*/
/*
** AMBER
**
*/
/*
** GREEN
**
*/
/*
** TEAL
**
*/
/*
** GREY
**
*/
/*
** BLUEGREY
**
*/
body {
  font-family: "Mukta", sans-serif; }

.text-header {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem; }

.text-headline {
  color: #1E88E5;
  font-size: 18px;
  font-family: "Mukta", sans-serif;
  font-weight: 400; }

.page-title {
  color: #FFFFFF;
  float: left;
  font-family: "Mukta", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 64px;
  margin-left: 24px;
  text-transform: capitalize; }

.button {
  height: 32px;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 0 12px;
  transition: all .1s;
  font-size: 12px;
  outline: none; }
  .button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
    cursor: pointer; }
  .button.button-popup-watchlist {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    font-size: .75rem;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    margin-top: -5px;
    margin-left: 40px;
    padding: 0 10px;
    text-transform: capitalize; }
    .button.button-popup-watchlist i {
      padding-right: 6px; }
    .button.button-popup-watchlist:hover {
      background-color: #FFFFFF;
      color: #151C40;
      cursor: pointer; }
  .button.isWatched {
    background-color: #FFFFFF;
    color: #151C40; }
  .button.has-warning {
    background: #ef9a9a; }
    .button.has-warning:hover {
      background: #e57373;
      cursor: pointer; }

.logo {
  background-color: #151C40;
  height: 64px;
  margin: 0;
  padding-left: 33px; }
  .logo a {
    color: #F9A825;
    font-family: "Mukta", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 64px;
    text-decoration: none; }

/* LAYOUT */
.l-flex {
  display: flex; }
  .l-flex.flex-wrap {
    flex-wrap: wrap; }
  .l-flex.is-hori {
    flex-direction: row; }
  .l-flex.is-hori-reverse {
    flex-direction: row-reverse; }
  .l-flex.is-vert {
    flex-direction: column; }
  .l-flex.is-vert-reverse {
    flex-direction: column-reverse; }
  .l-flex.align-main-left {
    justify-content: flex-start; }
  .l-flex.align-main-right {
    justify-content: flex-end; }
  .l-flex.align-main-center {
    justify-content: center; }
  .l-flex.align-main-space-between {
    justify-content: space-between; }
  .l-flex.align-main-space-around {
    justify-content: space-around; }
  .l-flex.align-cross-top {
    align-items: flex-start; }
  .l-flex.align-cross-bottom {
    align-items: flex-end; }
  .l-flex.align-cross-center {
    align-items: center; }
  .l-flex.align-cross-stretch {
    align-items: stretch; }
  .l-flex.align-cross-baseline {
    align-items: baseline; }

.flex-col-1 {
  flex-grow: 1; }

.flex-col-2 {
  flex-grow: 2; }

.flex-col-3 {
  flex-grow: 3; }

.flex-col-4 {
  flex-grow: 4; }

.flex-col-5 {
  flex-grow: 5; }

.flex-col-6 {
  flex-grow: 6; }

.flex-col-7 {
  flex-grow: 7; }

.flex-col-8 {
  flex-grow: 8; }

.flex-col-9 {
  flex-grow: 9; }

.flex-col-10 {
  flex-grow: 10; }

.flex-col-11 {
  flex-grow: 11; }

.flex-col-12 {
  flex-grow: 12; }

/* LAYOUT
============================================================== */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.l-left {
  float: left; }

.l-right {
  float: right; }

.l-pad-top-1 {
  padding-top: 8px; }

.l-pad-top-2 {
  padding-top: 16px; }

.l-pad-top-3 {
  padding-top: 24px; }

.l-pad-top-4 {
  padding-top: 32px; }

.l-pad-top-5 {
  padding-top: 40px; }

.l-pad-top-6 {
  padding-top: 48px; }

.l-pad-top-7 {
  padding-top: 56px; }

.l-pad-top-8 {
  padding-top: 64px; }

/* CONTAINERS
============================================================== */
.box {
  background-color: #151C40;
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 1.5rem; }
  .box.marginRight {
    margin-right: 1.5rem; }

/* MODULE */
.icon-loading {
  display: none; }
  .icon-loading.is-visible {
    color: rgba(0, 0, 0, 0.1);
    display: block;
    margin-top: 80px;
    text-align: center; }

.popup-modal {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3; }
  .popup-modal.is-visible {
    display: block; }

#popup-header {
  display: flex;
  justify-content: flex-start; }

#popup-price-container {
  display: flex;
  align-items: flex-end; }

#popup-data-container {
  display: flex;
  justify-content: space-between; }

#popup-summary-container {
  flex: 1;
  padding-top: 24px;
  padding-right: 40px; }

#popup-latest-price {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 600;
  padding-right: 16px; }

#popup-change-percent {
  color: greenyellow;
  font-size: 1.1rem;
  line-height: 24px; }

#popup-stock-name {
  color: #F9A825;
  font-size: 1.2rem;
  font-weight: 500; }

.popup-stock-container {
  background: #151C40;
  border: 6px solid #2B3152;
  border-radius: 10px;
  height: 400px;
  margin: 80px auto;
  padding: 24px;
  position: relative;
  width: 960px; }
  .popup-stock-container .exit-icon {
    background-color: transparent;
    border-radius: 4px;
    padding: 4px 8px 3px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all .1s; }
    .popup-stock-container .exit-icon:hover {
      background-color: #FFFFFF;
      cursor: pointer; }
      .popup-stock-container .exit-icon:hover .fa-times {
        color: #151C40; }
  .popup-stock-container .fa-times {
    color: #2B3152;
    font-size: 1.2rem; }
  .popup-stock-container #popup-summary-table {
    float: left;
    margin-top: 16px;
    width: 100%; }
    .popup-stock-container #popup-summary-table tr {
      border-bottom: 1px solid rgba(255, 255, 255, 0.06); }
      .popup-stock-container #popup-summary-table tr:last-child {
        border-bottom: none; }
    .popup-stock-container #popup-summary-table td {
      line-height: 32px;
      font-family: "Montserrat", sans-serif;
      font-size: .8rem; }
    .popup-stock-container #popup-summary-table td.key {
      color: rgba(255, 255, 255, 0.6);
      font-weight: 300; }
    .popup-stock-container #popup-summary-table td.val {
      color: #FFFFFF;
      font-weight: 500;
      text-align: right; }

.popup-chart-container {
  float: right; }

#popup-chart {
  height: 400px !important; }

.stocks-container {
  background: #151C40;
  border-radius: 10px;
  padding: 30px 60px;
  padding: 24px;
  position: absolute;
  overflow: auto;
  bottom: 24px;
  box-sizing: border-box;
  top: 24px;
  left: 24px;
  right: 24px;
  width: 620px; }
  .stocks-container h3 {
    color: #FFFFFF;
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 30px; }

.stocks-tabs {
  height: 60px; }

.stocks-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06); }

.stocks-list button {
  background: #151C40;
  border: none;
  box-sizing: border-box;
  display: block;
  height: 36px;
  outline: none;
  padding: 0;
  text-align: left;
  transition: all .3s;
  width: 100%; }
  .stocks-list button:hover {
    cursor: pointer; }
    .stocks-list button:hover .stock-name {
      color: #F9A825; }

.stocks-list .stock-code {
  color: #F9A825;
  display: block;
  float: left;
  font-family: "Mukta", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  width: 56px; }

.stocks-list .stock-name {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  float: left;
  font-family: "Mukta", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  overflow-y: hidden; }

.stocks-list .icon-add-watchlist {
  color: #CFD8DC;
  float: right;
  font-size: 1.2rem;
  z-index: 4; }
  .stocks-list .icon-add-watchlist.is-selected {
    color: #FFCA28; }
  .stocks-list .icon-add-watchlist svg {
    height: 24px;
    width: auto; }

.chart-container {
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  margin-bottom: 30px; }

.chart-watchlist-container {
  background-color: #CFD8DC;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  width: 260px; }

.dashboard-stocks-container {
  background-color: #FFFFFF;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  position: absolute;
  width: 260px; }

.chart-dropdown-container {
  float: right;
  margin-top: 18px;
  position: relative; }

.chart-menu-dropdown {
  font-family: "Mukta", sans-serif;
  position: relative;
  transition: all .3s; }
  .chart-menu-dropdown.float-left {
    float: left; }
  .chart-menu-dropdown.float-right {
    float: right; }
  .chart-menu-dropdown button {
    background: none;
    border: none;
    border-radius: 2px;
    color: rgba(38, 50, 56, 0.8);
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    outline: none;
    padding: 0 15px;
    text-transform: uppercase;
    transition: all .3s; }
    .chart-menu-dropdown button:hover {
      background: rgba(236, 239, 241, 0.36);
      color: #FA8072; }
    .chart-menu-dropdown button i {
      padding-left: 8px; }
  .chart-menu-dropdown ul {
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.24);
    display: none;
    position: absolute;
    top: 0;
    z-index: 1000; }
    .chart-menu-dropdown ul.is-visible {
      display: block; }
    .chart-menu-dropdown ul li {
      border-bottom: 1px solid #ECEFF1;
      color: rgba(38, 50, 56, 0.36);
      display: block;
      font-size: 12px;
      font-weight: 300;
      line-height: 40px;
      padding: 0 24px;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .3s; }
      .chart-menu-dropdown ul li:last-child {
        border: none; }
      .chart-menu-dropdown ul li:hover {
        background: rgba(236, 239, 241, 0.24);
        color: #FA8072;
        cursor: pointer; }
      .chart-menu-dropdown ul li i {
        display: none; }
      .chart-menu-dropdown ul li.is-active {
        color: #000000;
        position: relative; }
        .chart-menu-dropdown ul li.is-active i {
          display: block;
          left: 8px;
          position: absolute;
          top: 14px; }

.watchlist-canvas {
  background-color: #2B3152;
  padding: 24px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row; }

.watchlist-title {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem; }

.watchlist-chart-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.watchlist-dropdown-container {
  position: relative; }
  .watchlist-dropdown-container::before {
    content: '\F078';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.2);
    padding-top: 2px;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    pointer-events: none;
    z-index: 1; }

#watchlist-dropdown {
  background-color: #2B3152;
  border: none;
  box-sizing: border-box;
  color: #F9A825;
  display: block;
  font-size: .9rem;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  outline: none;
  padding: 0 12px;
  width: 80px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  #watchlist-dropdown:hover {
    cursor: pointer; }

.watchlist-data-container {
  background-color: #2B3152;
  position: absolute;
  top: 24px;
  right: 24px;
  left: 327px; }

#watchlist-summary-container {
  display: flex;
  justify-content: space-between; }
  #watchlist-summary-container > div {
    flex: 1; }

#watchlist-news-container {
  max-height: 400px;
  overflow: auto; }

.watchlist-chart-stock-container {
  display: flex; }

.watchlist-chart-name-container {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding-right: 2rem; }

#watchlist-latest-price {
  color: #F9A825;
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 2rem; }
  #watchlist-latest-price h2 {
    margin-bottom: .1rem; }
  #watchlist-latest-price h3 {
    color: rgba(255, 255, 255, 0.8);
    font-size: .8rem;
    font-weight: 300; }

.watchlist-news-article {
  margin-bottom: 1.3rem; }
  .watchlist-news-article a {
    text-decoration: none; }
    .watchlist-news-article a:hover h2,
    .watchlist-news-article a:hover p {
      color: #F9A825; }
  .watchlist-news-article h2 {
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: .2rem; }
  .watchlist-news-article p {
    color: rgba(255, 255, 255, 0.6);
    font-size: .8rem;
    font-weight: 300;
    line-height: 1.3; }

#key-stats-table {
  color: #FFFFFF;
  width: 100%; }
  #key-stats-table tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    display: flex;
    justify-content: space-between;
    padding: .6rem 0; }
    #key-stats-table tr:last-child {
      border-bottom: none; }
  #key-stats-table td {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase; }
    #key-stats-table td:last-of-type {
      color: #F9A825;
      font-weight: 600; }

.watchlist-data-inner-container {
  bottom: 0;
  right: 0;
  left: 0;
  position: relative;
  top: 0; }

.watchlist-container {
  background: #151C40;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: auto;
  padding: 24px;
  position: fixed;
  bottom: 0;
  top: 88px;
  margin-right: 24px;
  margin-bottom: 24px;
  min-height: 320px;
  min-width: 264px; }
  .watchlist-container a {
    text-decoration: none; }
  .watchlist-container .watchlist-add-stocks {
    background: #66BB6A;
    border-radius: 2px;
    color: #FFFFFF;
    line-height: 40px;
    padding: 0 12px; }
    .watchlist-container .watchlist-add-stocks i {
      float: right;
      font-size: 24px;
      line-height: 40px; }

.watchlist-chart-container {
  background: #151C40;
  border-radius: 10px;
  height: 380px;
  margin-bottom: 24px;
  min-width: 600px;
  padding: 1.5rem; }

#watchlist-stock-name {
  color: #F9A825;
  font-size: 1.2rem;
  margin-bottom: .3rem; }

#watchlist-stock-symbol {
  color: rgba(255, 255, 255, 0.8);
  font-size: .9rem; }

.watchlist-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  transition: all .1s; }
  .watchlist-list li.active .watchlist-item-symbol,
  .watchlist-list li.active .watchlist-item-name {
    color: #F9A825; }
  .watchlist-list li:hover .watchlist-item-symbol,
  .watchlist-list li:hover .watchlist-item-name {
    color: rgba(249, 168, 37, 0.8); }

.watchlist-list button {
  background: none;
  border: none;
  font-family: "Mukta", sans-serif;
  outline: none;
  padding: .8rem 0;
  width: 100%; }
  .watchlist-list button:hover {
    border-radius: 2px;
    cursor: pointer;
    transition: all .3s; }
    .watchlist-list button:hover .watchlist-item-code,
    .watchlist-list button:hover .watchlist-item-name {
      transition: all .3s; }
  .watchlist-list button .watchlist-item-symbol {
    color: rgba(255, 255, 255, 0.8);
    font-size: .95rem;
    font-weight: 500;
    line-height: 1rem;
    text-align: left; }
  .watchlist-list button .watchlist-item-name {
    color: rgba(255, 255, 255, 0.6);
    font-size: .85rem;
    font-weight: 300;
    line-height: 1rem;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap; }

.sidebar {
  background-color: #151C40;
  bottom: 0;
  display: block;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  top: 0;
  width: 6.5rem;
  z-index: 2; }

.nav-sidebar li a {
  border-left: 4px solid transparent;
  color: rgba(255, 255, 255, 0.3);
  display: block;
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  outline: none;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  transition: all .3s; }
  .nav-sidebar li a i {
    font-size: 1.5rem;
    height: auto;
    width: 1.8rem !important;
    margin-bottom: .8rem; }
  .nav-sidebar li a p {
    font-size: .8rem; }
  .nav-sidebar li a:hover {
    color: #FFFFFF;
    background: none; }
  .nav-sidebar li a.active {
    background-color: none;
    border-right: 4px solid #F9A825;
    color: #FFFFFF; }
    .nav-sidebar li a.active i,
    .nav-sidebar li a.active p {
      color: #F9A825; }

/* SEARCH
============================================================== */
.search-form {
  height: 58px;
  margin-left: 300px; }

.search-box {
  background-color: #ECEFF1;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  margin: 12px 30px 12px 0;
  outline: none;
  padding: 0 16px;
  text-align: left;
  transition: all .3s;
  width: 480px; }
  .search-box:hover, .search-box:focus {
    background-color: #FFFFFF; }

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2); }

.top-bar {
  background-color: #151C40;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.12);
  height: 64px;
  top: 0;
  left: 6.5rem;
  right: 0;
  position: fixed;
  z-index: 1; }

.dashboard-canvas {
  background-color: #2B3152;
  bottom: 0;
  left: 6.5rem;
  right: 0;
  overflow: auto;
  position: absolute;
  top: 64px; }

.dashboard-box-container {
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12); }

/* STATE */
/*
** State / Color
**
*/
.no-padding {
  padding: 0 !important;
  margin: 0 !important; }

/*
** Visibility
**
*/
.is-hidden {
  display: none !important; }
