.text-header {
  color: rgba($black, .4);
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 16px;
}

.text-headline {
  color: $blue-600;
  padding: 24px 24px 0;
  font-size: 18px;
  font-family: $font-secondary;
  font-weight: 400;
}