.button {
  height: 32px;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 0 12px;
  transition: all .1s;
  font-size: 12px;
  outline: none;

  &:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,.24);
    cursor: pointer;
  }

  &.button-popup-watchlist {
    background-color: transparent;
    border: 1px solid rgba($white,1);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba($white, 1);
    font-size: .75rem;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    margin-top: -5px;
    margin-left: 40px;
    padding: 0 10px;
    text-transform: capitalize;

    i {
      padding-right: 6px;
    }
  
    &:hover {
      background-color: $white;
      color: $colorDark-dark;
      cursor: pointer;
    }
  }

  &.isWatched {
    background-color: $white;
    color: $colorDark-dark;
  }

  &.has-warning {
    background: $red-200;

    &:hover {
      background: $red-300;
      cursor: pointer;
    }
  }
}