.logo {
  background-color: $colorDark-dark;
  height: 64px;
  margin: 0;
  padding-left: 33px;

  a {
    color: $green-400;
    font-family: $font-primary;
    font-size: 24px;
    font-weight: 600;
    line-height: 64px;
    text-decoration: none;
  }
}