/* LAYOUT
============================================================== */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}

$padding: 8px;

@for $i from 1 through 8 {

  @if ($i > 1) {
    $num: $i - 1;
    $padding: $padding + 8px;
  }

  .l-pad-top-#{$i} {
    padding-top: $padding;
  }
}


/* CONTAINERS
============================================================== */

.box {
  background-color: $colorDark-light;
  border-radius: 3px;
  // box-shadow: 0 0 8px rgba($black, 0.24);
  margin-bottom: 24px;
  padding: 1.5rem;

  &.margin-right {
    margin-right: 1.5rem;
  }
}