.popup-modal {
  background: rgba($black, .6);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;

  &.is-visible {
    display: block;
  }
}

.popup-stock-container {
  background: $white;
  border-radius: 2px;
  height: 400px;
  margin: 100px auto;
  width: 800px;
}

.button {
  height: 36px;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 0 16px;
  transition: all .3s;
  font-size: 12px;
  outline: none;
  margin: 10px 5px;

  &:hover {
    box-shadow: 0 4px 4px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.24);
    cursor: pointer;
  }

  &.popup-watchlist {
    background: $blue-600;
    float: right;
  }
}