.dashboard-canvas {
  background-color: $colorDark-light;
  bottom: 0;
  left: 6.5rem;
  right: 0;
  overflow: auto;
  padding: 24px;
  position: absolute;
  top: 64px;
}

.dashboard-box-container {
  background-color: $white;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,.12);
}