.graphCard-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.graphCard-company {
  color: $colorDark-accent;
  font-weight: 600;
  margin-bottom: 3px;
}

.graphCard-symbol {
  color: $white;
  font-size: 14px;
  font-weight: 400;
  opacity: .8;
}

.graphCard-latest-price {
  color: $white;
  font-size: 1rem;
}