.graphCard-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.graphCard-graph-container {
  position: relative;
}

.graphCard-range-label {
  color: rgba($white, 0.6);
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  top: 20px;
}

.graphCard-company {
  color: $white;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 3px;
  opacity: .8;
}

.graphCard-symbol {
  color: $colorDark-accent;
  font-size: 16px;
  font-weight: 600;
}

.graphCard-latest-price {
  color: $white;
  font-size: 1rem;
  font-weight: 600;
}

#home-graph-cards-container {
  background: $colorDark-light;
  border-radius: 3px;
  margin-bottom: 24px;
  padding: 1.5rem;

  > div {
    border-right: 1px solid rgba($white,0.04);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    // margin-right: 24px;
  }

  > div:first-of-type {
    padding-left: 0;
  }

  > div:last-of-type {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
  }
}

.graphCard-small {

  &:last-of-type {
    padding-right: 0;
  }
}

#graphCard-graph {
  max-height: 350px;
}