.graphCard-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.graphCard-graph-container {
  position: relative;
}

.graphCard-range-label {
  color: rgba($white, 0.6);
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  top: 20px;
}

.graphCard-company {
  color: $colorDark-accent;
  font-weight: 600;
  margin-bottom: 3px;
}

.graphCard-symbol {
  color: $white;
  font-size: 14px;
  font-weight: 400;
  opacity: .8;
}

.graphCard-latest-price {
  color: $white;
  font-size: 1rem;
}