.fa-times-circle {
  color: $bluegrey-50;
  position: absolute;
  right: 10px;
  top: 8px;
  transition: all .3s;

  &:hover {
    color: $bluegrey-100;
    cursor: pointer;
  }
}

.icon-loading {
  display: none;

  &.is-visible {
    color: rgba($black, .1);
    display: block;
    margin-top: 80px;
    text-align: center;
  }
}