.news-container {
  max-height: 376px;
  overflow: auto;
}

.news-list {
  
  li {
    list-style-type: none;
    margin-bottom: 20px;

    &:hover .news-text-content {
      color: $colorDark-accent;
    }
  }

  .news-no-articles {
    color: $white;
  }

  a {
    display: flex;
    text-decoration: none;
  }

  .news-image {
    border-radius: 3px;
    height: 40px;
    margin-right: 16px;
    object-fit: cover;
    width: 48px;
  }

  .news-text-content {
    color: $white;

    .news-headline {
      line-height: 20px;
      margin-bottom: 4px;
    }

    .news-source {
      font-size: 14px;
      opacity: .6;
    }
  }
}