.popup-modal {
  background: rgba($black, .8);
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;

  &.is-visible {
    display: block;
  }
}

#popup-top-container {
  display: flex;
  justify-content: space-between;
}

#popup-header {
  display: flex;
  justify-content: flex-start;
}

.popup-watch-button {
  margin: 0 16px;
}

#popup-wbutton-intervals {
  display: flex;
  justify-content: flex-start;
}

#time-intervals {
  border: 2px solid $colorDark-light;
  border-radius: 4px;
  display: flex;
  font-size: .85rem;
  justify-content: flex-start;
  margin-right: 32px;

  li {
    border-right: 2px solid $colorDark-light;
    box-sizing: border-box;
    color: $white;
    line-height: 24px;
    min-width: 48px;
    text-align: center;
    text-transform: uppercase;

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: $colorDark-light;
      cursor: pointer;
    }
  }

  .selected {
    background-color: $colorDark-light;
    color: $colorDark-accent;
    font-weight: 800;
  }
}

#popup-price-container {
  display: flex;
  align-items: flex-end;
}

#popup-data-container {
  display: flex;
  justify-content: space-between;
}

#popup-summary-container {
  flex: 1;
  padding-top: 24px;
  padding-right: 40px;
}

#popup-latest-price {
  color: $white;
  font-size: 2rem;
  font-weight: 600;
  padding-right: 16px;
}

#popup-change-percent {
  font-size: 1.1rem;
  line-height: 24px;
}

.percent-change-positive {
  color: $green-500;
}

.percent-change-negative {
  color: $red-600;
}

#popup-stock-name {
  color: $colorDark-accent;
  font-size: 1.2rem;
  font-weight: 500;
}

.popup-stock-container {
  background: $colorDark-dark;
  border: 6px solid $colorDark-light;
  border-radius: 10px;
  height: 400px;
  margin: 80px auto;
  padding: 24px;
  position: relative;
  width: 960px;

  .exit-icon {
    background-color: transparent;
    padding: 4px 8px 3px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .1s;

    &:hover {
      cursor: pointer;

      .fa-times {
        color: $white;
      }
    }
  }

  .fa-times {
    color: $colorDark-light;
    font-size: 1.6rem;
  }

  #popup-summary-table {
    float: left;
    margin-top: 16px;
    width: 100%;

    tr {
      border-bottom: 1px solid rgba($white, .06);

      &:last-child {
        border-bottom: none;
      }
    }

    td {
      line-height: 32px;
      font-family: $font-secondary;
      font-size: .8rem;
    }

    td.key {
      color: rgba($white,.6);
      font-weight: 300;
    }

    td.val {
      color: $white;
      font-weight: 500;
      text-align: right;
    }
  }
}

.popup-chart-container {
  float: right;
}

#popup-chart {
  height: 400px !important;
}