/* SEARCH
============================================================== */

#search-form {
  height: 58px;
  margin-left: 24px;
  max-width: 632px;

  .active {
    border-radius: 3px 3px 0 0;
  }
}

#search-box {
  background-color: $white;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  margin: 12px 30px 0 0;
  outline: none;
  padding: 0 16px;
  text-align: left;
  transition: all .3s;
  width: 100%;

  &:focus {
    background-color: $bluegrey-50;
  }
}

#search-suggestions {
  background-color: $white;
  border-radius: 0 0 3px 3px;

  div {
    border-bottom: 1px solid rgba($black,.1);
    font-size: .9rem;
    padding: 10px 0 10px 16px;
    

    &:hover {
      background-color: rgba($black,.1);
      cursor: pointer;
    }

    .symbol {
      display: inline-block;
      font-weight: 600;
      width: 48px;
    }

    .name {
      opacity: .6;
    }
  }

  .suggestions-active {
    background-color: rgba($black,.1);
  }
}

::-webkit-input-placeholder {
  color: rgba($black, .2);
}