/* SEARCH
============================================================== */

.search-form {
  height: 58px;
  max-width: 632px;

  #search-box.active {
    border-radius: 6px 6px 0 0;
  }

  #search-suggestions.active {
    overflow: hidden;
  }
}

.topSearchForm {
  width: 600px;

  input {
    background-color: $white;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    outline: none;
    padding: 0 16px;
    text-align: left;
    transition: all .3s;
    width: 100%;
  }
}

.search-box {
  background-color: $white;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  outline: none;
  padding: 0 16px;
  text-align: left;
  transition: all .3s;
  width: 100%;

  &:focus,
  &:hover {
    background-color: $bluegrey-50;
  }
}

.search-suggestions {
  background-color: $white;
  border-radius: 0 0 4px 4px;

  .suggestionsContainer {
    font-size: .9rem;
    padding: 10px 0 10px 16px;

    &:last-of-type {
      border-bottom: none;
    }
    

    &:hover {
      background-color: $bluegrey-50;
      cursor: pointer;
    }

    .symbol {
      display: inline-block;
      font-weight: 600;
      width: 48px;
    }

    .name {
      opacity: .6;
    }
  }

  .suggestions-active {
    background-color: $bluegrey-50;
  }
}

::-webkit-input-placeholder {
  color: rgba($black, .4);
}

.suggestionsSecondaryContainer {
  padding: 8px 16px;

  &:hover {
    background-color: $bluegrey-50;
    cursor: pointer;
  }

  .symbol {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 4px;
    width: 48px;
  }

  .name {
    font-size: .8rem;
    font-weight: 400;
    opacity: .6;
  }
}

.suggestionsNameContainer {
  display: flex;
  flex-direction: column;
}