#home-row-second {
  display: flex;
  flex-direction: row;
  padding: 24px;
}

#most-active-container {
  flex: 1;
  overflow: auto;
}

#top-gainers-container {
  background: $colorDark-dark;
  border-radius: 10px;
  flex: 1;
}

.stocks-tabs {
  height: 60px;
}

.most-active {

  #most-active-header-row {
    border-bottom: 1px solid rgba($white, .2);
    color: $white;
    display: flex;
    font-size: 13px;
    font-weight: 300;
    justify-content: space-between;
    margin-bottom: 16px;
    padding-bottom: 16px;
  }

  li {
    border-bottom: 1px solid rgba($white, .06);
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    position: relative;

    div {
      flex: 2;
      display: flex;
      align-items: center;
    }

    .most-active-stock-name {

      &:hover {
        cursor: pointer;
  
        .stock-name {
          color: $colorDark-accent;
        }
      }
    }

    div:first-of-type {
      display: unset;
      flex: 4;
    }

    div:last-of-type {
      flex: 1;
      display: unset;
      max-width: 24px;
    }
  }

  button {
    background: $colorDark-dark;
    border: none;
    box-sizing: border-box;
    display: block;
    outline: none;
    padding: 4px 0;
    position: relative;
    text-align: left;
    transition: all .3s;
    width: 100%;

    &:hover {
      cursor: pointer;

      .stock-name {
        color: $colorDark-accent;
      }
    }
  }

  .stock-code {
    color: $colorDark-accent;
    display: block;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }

  .stock-name {
    color: rgba($white, .8);
    display: block;
    font-family: $font-primary;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    overflow-y: hidden;
  }

  .most-active-change,
  .most-active-change-percent {
    color: $green-600;
    font-weight: 500;
  }

  .icon-add-watchlist {
    color: $bluegrey-100;
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    &.is-selected {
      color: $amber-400;
    }

    &:hover {
      cursor: pointer;
    }

    svg {
      height: 24px;
      width: auto;
    }
  }
}

