#home-row-second {
  display: flex;
  flex-direction: row;
}

.home-row {
  display: flex;
  flex-direction: row;

  > div {
    flex: 1;
  }
}

#most-active-container {
  flex: 1;
  overflow: auto;
  min-width: 500px;
}

#gainers-container {
  flex: 1;
  min-width: 500px;
}

.stocks-tabs {
  height: 60px;
}