.graphCard-header {
  color: $white;
  display: flex;
  align-items: center;
}

.graphCard-company {
  font-weight: 600;
  margin-bottom: 3px;
}

.graphCard-symbol {
  font-size: 14px;
  font-weight: 400;
  opacity: .4;
}

.graphCard-logo {
  background-color: $white;
  border-radius: 100rem;
  margin-right: 16px;
  max-height: 24px;
  max-width: 24px;
  padding: 6px;
}